<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Demo</title>
	<link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="homeCtrl as home">
	<div id="quizWrap" bz-quiz="60">
		<h1 class="countdown"></h1>
		<div class="item" key="{{question.id}}" ng-repeat="question in home.json.questions">
			<div class="q" ng-bind-html="'<strong>Câu ' + [[$index+1]] + ': </strong><span>' + question.content + '</span>'"></div>
			<div class="ans-wrap" ng-repeat="answer in question.answers">
				<label>
					<input type="radio" name="optAnswer{{question.id}}" ng-click="quizSelect(question, answer)">
					<span ng-bind-html="answer.content"></span>
				</label>
			</div>
		</div>
		<button class="btnEndQuiz" ng-click="quizFinish()">End</button>
		<pre ng-bind-html="answerData | json"></pre>
		<!--<pre ng-bind-html="home.json.questions | json"></pre>-->
	</div>
	<script src="scripts/jquery-2.2.0.min.js"></script>
	<script src="scripts/lodash.min.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-sanitize.min.js"></script>
	<script src="scripts/data.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>