#mod-dragdrop{}
.clearfix{clear:both}
#grid {width:400px}
.item{float:left;padding:10px;border:1px solid #ccc}
.inner{position: relative;margin:10px;width:70px;height:70px;background: #000; color:#fff}
